body {
    margin: auto;
    width: 60rem;
}

ul{
    font-size: 0.9rem;
    font-family: "Raleway", sans-serif;
}

.slogan > h2 {
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Raleway", serif;
    margin-bottom: 0;

}

.slogan > p {
    margin-top: 0;
    font-size: 0.8rem;
    font-family: "Raleway", serif;
}

/* header */

#main-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    /* border: 2px solid red; */
}

.logo > img{
    height: auto;
    width: 5rem;

}

.menu-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-area: 1 / 4 / 1 / 4;
    gap: 3rem;
    margin-top: 0.5rem;
    /* border: 2px solid orange; */
}

.menu-cat > span{
    font-size: 0.8rem;
    font-family: "Raleway",sans-serif;
    /* border:2px solid blue; */
}




.search-bar{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.search-bar {
    height: 2.1rem;    
    margin-bottom: 1rem;
    /* border: 2px solid red; */
    border-radius: 0.5rem;
    width: 18rem;
    
    }

.marker-icon{
    display: flex;
    justify-content: center;
    padding-top:0.7rem;
    height: auto;
    width: 2.5rem;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.input-search {
    background-color: yellow;    
}

.search-button{
    display: flex;
    align-items: center;
    color: white;
    font-family: "Raleway",sans-serif;
    font-weight: bolder;
    /* border: 2px solid green; */
    border: none;
    background: #0065FC;
    height: 2.1rem;
    padding: 1.2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}






.info {
    display: grid;
    grid-template-columns: 1.5rem 3fr;
    width: 25rem;
    /* border: 2px solid red; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info > .info-icon{
    display: flex;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    color: #0065FC;
    border: 1px solid #dadada;
    background-color: white;
    border-radius: 2rem ;

}


.info > span{
    font-family: "Raleway";
    font-size: 0.8rem;
}





















 .filter{
} 




.filter-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    margin: 0;
    width: 100%;
    border: 0.15rem solid #dadada;
    /* background-color: yellow; */
}


#filter-list {
    display: grid;
    grid-template-columns: 3rem 8rem 7rem 8rem 10rem;
    gap: 1.9rem;
    padding: 0;
    margin: 0;
    width: 100%;
}

.filter-icon{
    border-radius: 2rem;
    /* border: 2px solid green; */
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 0.7rem;
    height: 1rem;
    width: 1rem;

}





/* main */

.hebergement-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}


.hebergement-container > *{
    border-radius: 1rem;
    /* border: 0.5rem solid red; */
}

.hebergement-bloc > div{
    border-radius: 1.1rem;
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 0px 0px 30px 0px #dadada;
}

.hebergement-bloc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: yellowgreen; */
    background-color: #F2F2F2;
        border-radius: 1rem;
    padding: 2rem;
    gap: 1.5rem;
}

.hebergement-bloc > h2{
    grid-area: 1/1/1/4;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.hebergement-img > img{
    object-fit: cover;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    height: 5.2rem;
    width: 100%;
}

.hebergement-card {
    margin-left: 0.5rem;
    font-family: "Raleway-bold", sans-serif;
    font-size: 0.8rem;
    gap: 0;
}

.subtitle-card{
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 0.7rem;
}













.popu-container {
    display: grid;
    /* grid-auto-flow: dense; */
}

.popu-bloc {    
    background-color: #F2F2F2;
    /* background-color: pink; */
    border-radius: 1rem;
}

.popu-bloc > div{

    border-radius: 1.1rem;
    height: 6.5rem;
    width: 15rem;
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 0px 0px 30px 0px #dadada;
    margin: 2rem;
}

.popu-card {
    margin-top: -6.3rem;
    margin-left: 6.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.popu-sub-card{
    margin-top: 0;
    margin-bottom: 1.9rem;
    font-family: "Raleway", sans-serif;
    font-size: 0.7rem;
}






.popu-bloc > h2{
    margin: 2rem;
    font-size: 1rem;
    font-family: "Raleway", serif;
}

.popu-un > img{
    object-fit: cover;
    /* object-position: -4rem; */
    height: 7rem; 
    width: 38%; 
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    max-width: 100%; 
    max-height: 100%;


}

.popu-deux > img{
    object-fit: cover;
    /* object-position: -3rem; */
    height: 7rem; 
    width: 38%; 
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    max-width: 100%; 
    max-height: 100%;
}

.popu-trois > img{
    object-fit: cover;
    height: 7rem; 
    width: 38%; 
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    max-width: 100%;
    max-height: 100%; 
}






.activite > h2 {
    font-size: 1rem;
    font-family: "Raleway", serif;
    margin-top: 3rem;
}


.activite-container > .activite-bloc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    /* background-color: yellow; */
    border-radius: 1rem;
    height: 21rem;
    gap: 2rem;
}



.activite-bloc > div{
    min-width: 2em;
    max-height: 21em;
    border-radius: 1rem;
    background-color:white;
    box-shadow: 0 0px 10px 0 #f0f0f0, 0px 0px 30px 0px #f0f0f0;
}

.act-un{
    height: 21rem;
    grid-area: 1 / 1 / 5 / 1;
}
.act-deux{
    height: 11rem;
    grid-area: 1 / 2 / 3 / 3;

}
.act-trois{
    height: 8rem;
    grid-area: 3 / 2 / 4 / 2;

}
.act-quatre{
    height: 21rem;
    grid-area: 1 / 3 / 5 / 3;

}
.act-cinq{
    height: 9rem;
    grid-area: 1 / 4 / 1 / 5;

}
.act-six{
    height: 10em;
    grid-area: 2 / 4 / 5 / 5;

}



.act-un > img{
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 18rem;
    width: 100%;

}

.act-deux > img{
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 8rem;
    width: 100%;

}

.act-trois > img{
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 5rem;
    width: 100%;

}

.act-quatre > img{
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 18rem;
    width: 100%;

}

.act-cinq > img{
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 6rem;
    width: 100%;

}

.act-six > img{
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 7rem;
    width: 100%;

}

.act-card {
    margin: 0;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-family: "Raleway-bold", sans-serif;
    font-weight: bolder;
}











.footer{
    margin-top: 2.5rem;
    padding: 0;
    width: 100%;
    background-color: #F2F2F2;
}


ul, h2{
    padding-left: 0;
    font-size: 0.8rem;
    list-style-type: none;
}

.bottominfos{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



/* .bottominfos > *{
    border: 2px solid green;
} */


