@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap');

/* general */

body {
    margin-top: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 1400px;
}

ul, p, div {
    font-family: "Raleway",serif;
    margin: 0;
    list-style: none;
}

h2 {
    font-family: "Raleway",serif;
    font-weight: 600;
    margin: 0;
}

a:link {
    text-decoration-line: none;
}

/*---------------------- header ----------------------*/

.logo {
    padding-top: 1rem;
    width: 6rem;
}

#menu {
    display: grid;
    grid-template-columns: auto 1fr repeat(2,auto) auto;
    font-family: "Raleway",sans-serif;
    cursor: pointer;
    gap: 2rem;
}

#menu a {
    margin-top: 2rem;
}

.houses {
    grid-area: 1 / 3;
    padding-top: 2rem;
}

.houses a {
    color: black;
}

.houses a:hover {
    padding-top: 1.8rem;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.activites {
    grid-area: 1 / 4;
    padding-top: 2rem;
}

.activites a {
    color: black;
}

.activites a:hover {
    padding-top: 1.8rem;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.subscribe-button {
    grid-area: 1 / 5;
}

.subscribe-button a {
    display: flex;
    justify-content: flex-end;
    color: #0065FC;
    font-weight: bold;
}

/*--------------------------------------------------------*/

.search-bar {
    display: grid;
    grid-template-columns: 3.2rem 14rem 8rem 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-bar [type=text] {
    font-family: "Raleway",serif;
    font-weight: bold;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid #f0f0f0;
    background: white;
}
  
.search-button {
    background: #0065FC;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none; /* mini marge invisible du bouton */
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    cursor: pointer;
}

::placeholder {
    font-family: "Raleway",serif;
    font-weight: bold;
    color: black;
}

.marker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.search-button i {
    display: none;
}

/*--------------------------------------------------------*/

.filter {
    font-family: "raleway",sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.filter > p {
    display: inline-block;
    margin-right: -1.5rem;
    margin-top: auto;
    margin-bottom: 2rem;
}

#filter-list > li {
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.filter-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border: 2px solid #f0f0f0;
    border-radius: 2rem;
}

.filter-icon {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    width: 1rem;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
}

.filter-container:hover {
    color: #0065FC;
}

.filter-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 0.7rem;
}

/*--------------------------------------------------------*/

.info {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.info-icon {
    display: inline;
    color: #0065FC;
    border: 1px solid #dadada;
    background-color: white;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 50%;
}

/*------------------------ main ------------------------- */

.house-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding-bottom: 3rem ;
}

.house-box { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
    height: auto;
}

.house-box > h2 {
    display: grid;
    grid-area: 1 / 1 / 1 / 4;
}

.house-box > a {
    border-radius: 1rem;
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 0px 0px 30px 0px #dadada;
    cursor: pointer;
}

.house-box > a:hover {
    transition: transform 1s;
    transform: scale(0.95);
}

.house-card > img {
    height: 6rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.house-card > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.house-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.rate-star {
    display: flex;
    padding-top: 1rem;
}


.showmore {
    color: black;
    font-weight: bold;
}

/*------------------------------------------------------*/

.popu-aside {
    
    display: grid;
    grid-template-rows: 2rem repeat(3,1fr); 
    background-color: #F2F2F2;
    border-radius: 1rem;
    margin: 0;
    padding: 2rem;
    gap: 2rem;
}

.popu-aside > a {
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 0px 0px 30px 0px #dadada;
    border-radius: 1rem;
    height: 8rem;
    cursor: pointer;
}

.popu-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
}

.popu-card > img {
    grid-area: 1 / 1 / 1 / 1 ;
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.popu-title { /*icône titre popu */
    display: flex;
    justify-content: space-between;
}

.popu-subtitle {
    grid-area: 1 / 2 / 1 / 2 ;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.popu-rate-star {
    display: flex;
    grid-area: 3 /2;
    margin-top: auto;
}

.popu-aside > a:hover {
    transition: transform 1s;
    transform: scale(0.95);
}

/*------------------------------------------------------*/

.activite {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10rem 1fr 10rem;
    /* background:yellow; */
    padding-top: 1rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

.activite > a {
    border-radius: 1rem;
    background-color:white;
    box-shadow: 0 0px 10px 0 #f0f0f0, 0px 0px 30px 0px #f0f0f0;
    /* border: solid red; */
    position: relative;
    height: auto;
}

.activite > a:hover {
    transition: transform 1s;
    transform: scale(0.95);
}

#act-un {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 1 / 4 / 1;
} 

#act-un > img {
    position: absolute;
    object-fit: cover;
    height: 21rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-deux {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 2 / 3 / 2;
} 

#act-deux > img {
    position: absolute;
    object-fit: cover;
    height: 9rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-trois {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 3 / 2 / 4 / 2;
} 

#act-trois > img {
    position: absolute;
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-quatre {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 3 / 4 / 3;
    position: relative;
} 

#act-quatre > img {
    position: absolute;
    object-fit: cover;
    height: 21rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-cinq {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 4 / 1 / 5;
} 

#act-cinq > img {
    position: absolute;
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-six {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 2 / 4 / 4 / 5;
    position: relative;
} 

#act-six > img {
    position: absolute;
    object-fit: cover;
    height: 9rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.act-sub {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content:center ;    
    grid-area: 2 / 1 / 2 / 2;
    padding-left: 2vh;
}

/*------------------------------------------------------*/

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #F2F2F2;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

.footer-info > p {
    margin: 0;
    font-family: "raleway",sans-serif;
    font-weight: bold;
}

.footer-info a {
    color: black;
}


@media only screen and (max-width: 500px) {
/* Appareils avec une résolution de 1024 pixels ou moins */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h2, p {
    padding-left: 2rem;
}

.logo {
    padding-left: 2rem;
    padding-right: 2rem;
}

.subscribe-button {
    padding-left: 2rem;
    padding-right: 2rem;
}

#menu {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-bottom: 2rem;
    gap: 0;
}

#menu a:hover {
    padding: 0;
    border-top: none;
    color: #0065FC;
    
}

.houses {
    grid-area: 2 / 1;
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 1rem;
    border-bottom: 4px solid #f0f0f0;
}

.houses:hover {
    color: #0065FC;
    border-bottom: 4px solid #0065FC;
}

.activites {
    grid-area: 2 / 2;
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 1rem;
    border-bottom: 4px solid #f0f0f0;
}

.activites:hover {
    color: #0065FC;
    border-bottom: 4px solid #0065FC;
}

.subscribe-button {
    display: flex;
    justify-content: flex-end;
    grid-area: 1 / 2;
    font-weight: bold;
    cursor: pointer;
}

/*------------------------------------------------------*/

.search-bar {
    grid-template-columns: 3.2rem 1fr 3.5rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

::placeholder {
    font-size: 0;
}

.search-button {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.search-button > span {
    display: none;
}

.search-button i {
    display: flex;
    justify-content: center;
}

/*------------------------------------------------------*/

.filter {
    display: block;

}

.filter > ul {
    padding-left: 2rem;
    padding-right: 2rem;
}

#filter-list > li {
    padding-bottom: 1rem;
}

/*------------------------------------------------------*/

.info {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

/*------------------------------------------------------*/

.house-container {
    grid-template-columns: 1fr;
}

.house-box {
    display: block;
    background: none;
}

.house-box > h2 {
    padding: 0;
    margin-bottom: 2rem;
}

.house-card {
    display: block;
    margin-bottom: 2rem;
}

/*------------------------------------------------------*/

.popu-aside {
    border-radius: 0;
    order: -1;
}

.popu-title > h2 {
    padding: 0;
}

/*------------------------------------------------------*/

.activite {
    display: block;
    padding: 2rem;
}

.activite > a {
    height: 14rem;
    margin-bottom: 2rem;
}

#act-un > img {
    height: 11rem;
}

#act-deux > img {
    height: 11rem;
}

#act-trois > img {
    height: 11rem;
}

#act-quatre > img {
    height: 11rem;
}

#act-cinq > img {
    height: 11rem;
}

#act-six > img {
    height: 11rem;
}

/*------------------------------------------------------*/

.footer {
    margin-top: -1rem;
}

.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

}

