@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap');


/* general */

body {
    margin-top: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 1400px;
}

ul, p, div {
    font-family: "Raleway",serif;
    margin: 0;
    list-style: none;
}

h2 {
    font-family: "Raleway",serif;
    font-weight: 600;
    margin: 0;
}

/* header */


.logo {

    /* border: solid red; */
    padding-top: 1rem;
    width: 6rem;
}

#main-menu{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red;  */

}

.menu-list{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    cursor: pointer;
    border: 2px solid white;
}

.menu-cat{
    padding-top: 2rem;
    /* border: solid red; */


}

.menu-cat:hover {
    color: #0065FC;
    border-top: 1vh solid #0065FC;
}

.subscribe-button{
    color: #0065FC;
    font-weight: bold;
    cursor: pointer;
    /* border: solid red; */

}







.search-bar {
    display: grid;
    grid-template-columns: 3rem 14rem 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }


.search-bar [type=text] {
    font-family: "Raleway",serif;
    font-weight: bolder;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid #f0f0f0;
    float: left;
    background: white;
  }

  
.search-bar button {
    float: left;
    padding: 1rem;
    background: #0065FC;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none; 
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    cursor: pointer;
  }

  ::placeholder{
      font-family: "Raleway",serif;
      font-weight: bold;
      color: black;
  }

  .marker-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}






.info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

    .info-icon{
    display: inline;
    color: #0065FC;
    border: 1px solid #dadada;
    background-color: white;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 50%;
}



.filter{
    font-family: "raleway",sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}


#filter-list > li{
    display: inline-block;
    padding-right: 0.5rem;
    /* border: solid red; */
}

.filter-container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    border: 2px solid #f0f0f0; 
    border-radius: 2rem;
}

.filter-icon{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    width: 1rem;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
}

.filter-container:hover{
    color: #0065FC;
}

.filter-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
}








/* main */

.house-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding-bottom: 3rem ;
}

.house-box { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
    height: auto;
}

.house-box > h2 {
    display: grid;
    grid-area: 1 / 1 / 1 / 4;
}

.house-box > a {
    border-radius: 1rem;
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 0px 0px 30px 0px #dadada;
    cursor: pointer;
}

.house-box > a:hover {
    transition: transform 1s;
    transform: scale(0.95);
}



.house-card > img {
    /* visibility: hidden; */
    height: 6rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.house-card > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.house-subtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.rate-star{
    display: flex;
    padding-top: 1rem;
}


.showmore:link{
    font-weight: bold;
    text-decoration-line: none;
}

.showmore:visited {
    color: black;
}

















.popu-aside {
    
    display: grid;
    grid-template-rows: 2rem repeat(3,1fr);
    
    margin: 0;
    padding: 2rem;
    gap: 2rem;

    background-color: #F2F2F2;
    border-radius: 1rem;
}

.popu-aside > a{
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 0px 0px 30px 0px #dadada;
    border-radius: 1rem;
    height: 8rem;
    cursor: pointer;
}


.popu-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
}

.popu-card > img {
    grid-area: 1 / 1 / 1 / 1 ;
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.popu-title{ /*icone titre popu */
    display: flex;
    justify-content: space-between;
}

.popu-subtitle {
    grid-area: 1 / 2 / 1 / 2 ;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.popu-rate-star {
    display: flex;
    grid-area: 3 /2;
    margin-top: auto;
}

.popu-aside > a:hover {
    transition: transform 1s;
    transform: scale(0.95);
}


















.activite {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10rem 1fr 10rem;
    /* background:yellow; */
    padding-top: 1rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

.activite > a{
    border-radius: 1rem;
    background-color:white;
    box-shadow: 0 0px 10px 0 #f0f0f0, 0px 0px 30px 0px #f0f0f0;
    /* border: solid red; */
    position: relative;
    height: auto;
}

.activite > a:hover {
    transition: transform 1s;
    transform: scale(0.95);
}

#act-un {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 1 / 4 / 1;
} 

#act-un > img {
    position: absolute;
    object-fit: cover;
    height: 21rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

#act-deux {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 2 / 3 / 2;
} 

#act-deux > img {
    position: absolute;
    object-fit: cover;
    height: 9rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-trois {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 3 / 2 / 4 / 2;
} 

#act-trois > img {
    position: absolute;
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-quatre {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 3 / 4 / 3;
    position: relative;
} 

#act-quatre > img {
    position: absolute;
    object-fit: cover;
    height: 21rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-cinq {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 4 / 1 / 5;
} 

#act-cinq > img {
    position: absolute;
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-six {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 2 / 4 / 4 / 5;
    position: relative;
} 

#act-six > img {
    position: absolute;
    object-fit: cover;
    height: 9rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.act-sub {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content:center ;    
    grid-area: 2 / 1 / 2 / 2;
    padding-left: 2vh;
}





.footer{
    position: absolute;
    left: 0;
    bottom: 1;
    width: 100%;
    background-color: #F2F2F2;
}

.footer-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    gap: 2rem;
}

.footer-info > p {
    margin: 0;
    font-family: "raleway",sans-serif;
    font-weight: bold;
}

a:link {
    text-decoration-line: none;
}

a:visited {
    color: black;

}


@media only screen and (max-width: 1024px) {
  
    /* Appareils avec une résolution de 1024 pixels ou moins */

body{
    overflow-x: hidden;
}

#main-menu{
    display: flex;
    justify-content: space-between;
    /* border: solid orange; */

}

.menu-cat{
    /* border: solid green; */
    display: inherit;
    margin-bottom: 2rem;
    margin-top: 1rem;


}

.menu-cat:hover{
    border-top: none;
    border-bottom: 1px solid blue;

}

.subscribe-button{
    /* border: solid red; */

}


.search-bar{
    grid-template-columns: 3rem 20rem 8rem;
}

::placeholder{
    font-size: 0;
}

.search-button{
    display: inline-block;
    border-radius: 2vh;
    font-size: 0;
    text-indent: 1000px;
    width: 9vh;
}









.filter{
    display: block;
    /* border: solid red; */
}

.filter > h3{
    
}


.filter > ul{
    /* border: solid red; */
    padding-left: 0;    
}

#filter-list > li{
    padding-bottom: 1rem;
}

.info{
    margin-top: 2rem;
}








.house-container{
    grid-template-columns: 1fr;
}

.house-box{
    display: block;
}

.house-box > h2{
    margin-bottom: 2rem;
}

.house-card{
    display: block;
    margin-bottom: 2rem;

}




.popu-aside{
    order: -1;
}



.activite {
    display: block;


}

.activite > a{
    height: 14rem;
    margin-bottom: 2rem;

}

#act-un > img{
    height: 11rem;
}

#act-deux > img{
    height: 11rem;

}

#act-trois > img{
    height: 11rem;

}

#act-quatre > img{
    height: 11rem;

}

#act-cinq > img{
    height: 11rem;
}

#act-six > img{
    height: 11rem;

}







.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

   }

}