@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap');

/* general */

body {
    margin-top: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px;
    scroll-behavior: smooth;
}

ul, p, div, a {
    font-family: "Raleway",serif;
    margin: 0;
    list-style: none;
    color: black;
}

h2 {
    font-family: "Raleway",serif;
    font-weight: 600;
    margin: 0;
}

a:link {
    text-decoration-line: none;
}

/*---------------------- header ----------------------*/

#logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 6rem;
}

#title h2 {
    margin-bottom: 0.5rem;
}

#menu {
    display: grid;
    grid-template-columns: auto 1fr repeat(2,auto) auto;
    font-family: "Raleway",sans-serif;
    gap: 2rem;
    margin-bottom: 1rem;
}

#menu a {
    margin-top: 2rem;
}

#house {
    grid-area: 1 / 3;
    padding-top: 2rem;
}

#house a {
    color: black;
}

#house a:hover {
    padding-top: 1.8rem;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

#activite {
    grid-area: 1 / 4;
    padding-top: 2rem;
}

#activite a:hover {
    padding-top: 1.8rem;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

#subscribe-button {
    grid-area: 1 / 5;
}

#subscribe-button a {
    display: flex;
    justify-content: flex-end;
    color: #0065FC;
    font-weight: bold;
}

#subscribe-button a:hover {
    color: #0055FC;
    transition: all 0.4s ease;
}

/*--------------------------------------------------------*/

#search-bar {
    display: grid;
    grid-template-columns: 3.2rem 14rem 8rem 1fr;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#search-bar [type=text] {
    font-family: "Raleway",serif;
    font-weight: bold;
    max-width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #f0f0f0;
    background: white;
}
  
#search-bar [type=submit] {
    position: relative;
    background: #0065FC;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none; /* mini marge invisible du bouton */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}

#search-button:hover {
    background: #0055FC;
    transition: all 0.4s ease;
}

::placeholder {
    font-family: "Raleway",serif;
    font-weight: bold;
    color: black;
}

#marker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#search-button i {
    display: none;
}

/*--------------------------------------------------------*/

#filter {
    font-family: "raleway",sans-serif;
    font-weight: bold;
    display: flex;
}

#filter h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: -1.5rem;
}

#filter-list > li {
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.filter-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border: 2px solid #DEEBFF;
    border-radius: 2rem;
}

.filter-container:hover {
    border-radius: 1rem;
    background: #DEEBFF;
    transition: all 0.4s ease;
    color: #0065FC;
    border: 2px solid #DEEBFF;
}

.filter-icon {
    position: relative;
    border: solid #DEEBFF;
    display: flex;
    justify-content: center;
    /* margin-left: -1px; */ /* sortir icon du bouton */
    padding: 1rem;
    width: 1rem;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
}

.filter-icon:hover {
    position: inherit;
    margin-right: -1.5rem;
    transition: all 0.4s ease;
}

.filter-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 0.7rem;
}

.filter-title:hover {
    position: relative;
    color: #0065FC;
    margin-left: -1.5rem;
    transition: all 0.4s ease;
}

/*--------------------------------------------------------*/

#info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 5px;
}

#info i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    height: 7px;
    width: 7px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    color: #0065FC;
}

#info p {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*------------------------ main ------------------------- */

#house-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

#house-box {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    border-radius: 1rem;
    padding: 2rem;
}

#house-box:hover {
    background-color: #EFEFEF;
    transition: all 5s ease;
}

#house-box h2 {
    margin-bottom: 2rem;
}

.house-card {
    height: 11rem;
    border-radius: 1rem;
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 
                0px 0px 30px 0px #dadada;
}

.house-card img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.house-card:hover {
    transition: transform 1s;
    transform: scale(0.95);
}

#house-cardbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 2rem;
}

.house-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2rem;
    margin-left: 10px;
    margin-top: 4px;
}

.rate-star {
    display: flex;
    margin-top: 3px;
}

#house-box h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    margin-bottom: 0;
}

/*------------------------------------------------------*/

#popu-aside {
    
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
}

#popu-aside:hover {
    background-color: #EFEFEF;
    transition: all 5s ease;
}

.popu-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border: 0.25rem solid white;
    box-shadow: 0 0px 10px 0 #dadada, 
                0px 0px 30px 0px #dadada;
    border-radius: 1rem;
    height: 8rem;
    min-width: 20rem;
    /* width: 20rem; */
}

.popu-card:hover {
    transition: transform 1s;
    transform: scale(0.95);
}

.popu-card img {
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

#popu-aside h2 { /*icône titre popu */
    display: flex;
    justify-content: space-between;
}

.popu-subtitle {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.popu-rate-star {
    display: flex;
    margin-top: auto;
}

/*------------------------------------------------------*/

#activite-box {
    display: flex;
    flex-direction: column;
}

#activite-box h2 {
    padding-top: 1rem;
}

#activite-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10rem 1fr 10rem;
    /* background:yellow; */
    padding-top: 1rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

#activite-card a:hover {
    transition: transform 1s;
    transform: scale(0.95);
}

#activite-card a {
    border-radius: 1rem;
    background-color:white;
    box-shadow: 0 0px 10px 0 #f0f0f0, 
                0px 0px 30px 0px #f0f0f0;
    position: relative;
    height: auto;
}

#act-un {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 1 / 4 / 1;
} 

#act-un img {
    position: absolute;
    object-fit: cover;
    height: 21rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-deux {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 2 / 3 / 2;
} 

#act-deux img {
    position: absolute;
    object-fit: cover;
    height: 9rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-trois {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 3 / 2 / 4 / 2;
} 

#act-trois img {
    position: absolute;
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-quatre {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 3 / 4 / 3;
    position: relative;
} 

#act-quatre img {
    position: absolute;
    object-fit: cover;
    height: 21rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-cinq {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 1 / 4 / 1 / 5;
} 

#act-cinq img {
    position: absolute;
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act-six {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-area: 2 / 4 / 4 / 5;
    position: relative;
} 

#act-six img {
    position: absolute;
    object-fit: cover;
    height: 9rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.act-sub {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content:center ;    
    grid-area: 2 / 1 / 2 / 2;
    padding-left: 1rem;
}

/*------------------------------------------------------*/

#footer {
    position: absolute;
    left: 0;
    background-color: #F2F2F2;
    width: 100%;
    line-height: 2rem; /* espacements lignes */
}

#footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

#footer h4 {
    margin: 0;
}

#footer ul {
    padding-left: 0;
}

@media only screen and (max-width: 700px) {
/* Appareils avec une résolution de 1024 pixels ou moins */

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    h2, p {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #logo {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #subscribe-button {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #menu {
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 2rem;
        gap: 0;
    }

    #menu a:hover {
        padding: 0;
        border-top: none;
    }

    #house {
        grid-area: 2 / 1;
        padding-top: 0;
        width: 100%;
        height: 2rem; /*espacement border et text */
        border-bottom: 4px solid #F2F2F2;
    }

    #house a {
        display: flex;
        justify-content: center;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }

    #house:hover {
        border-bottom: 4px solid #0065FC;
    }

    #activite {
        grid-area: 2 / 2;
        padding-top: 0;
        border-bottom: 4px solid #f0f0f0;
    }

    #activite a {
        display: flex;
        justify-content: center;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }

    #activite:hover {
        border-bottom: 4px solid #0065FC;
    }

    #subscribe-button {
        display: flex;
        justify-content: flex-end;
        grid-area: 1 / 2;
        font-weight: bold;
        cursor: pointer;
    }

    /*------------------------------------------------------*/

    #search-bar {
        grid-template-columns: 3.2rem 1fr 3.5rem auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    ::placeholder {
        font-size: 0;
    }

    #search-button {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    #search-button:hover {
        background-color: #0055FC;
        transition: all 0.4s ease;
    }

    #search-button span {
        display: none;
    }

    #search-button i {
        display: flex;
        justify-content: center;
    }

    /*------------------------------------------------------*/

    #filter {
        display: block;
        margin-right: 2rem;
        padding-right: 2rem;
    }

    #filter h4 {
        padding-left: 2rem;
    }

    #filter ul {
        padding-left: 2rem;
    }

    #filter-list li {
        padding-bottom: 1rem;
        padding-right: 0.5rem;
    }

    /*------------------------------------------------------*/

    #info {
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 0;
    } 

    #info i {
        position: absolute;
    }

    /*------------------------------------------------------*/

    #house-container {
        grid-template-columns: 1fr;
    }

    #house-box {
        display: block;
        background: none;
    }

    #house-box:hover {
        background: none;
    }

    #house-box > h2 {
        padding: 0;
        margin-bottom: 2rem;
    }

    #house-card {
        display: block;
        margin-bottom: 2rem;
    }

    /*------------------------------------------------------*/

    #popu-aside {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 0;
        order: -1;
        background: linear-gradient(180deg, #f2f2f2 0%, 
                  #f2f2f2 50%, #ffff 100%);
        margin-bottom: -2rem;
    }

    #popu-aside h2 {
        padding: 0;
    }

    .popu-card {
        min-width: 0;
    }

    /*------------------------------------------------------*/

    #activite-box {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: -1.5rem;
    }

    #activite-box h2 {
        padding-left: 0;
    }

    #activite-card {
        display: block;
    }

    #activite-card > a {
        height: 14rem;
        margin-bottom: 2rem;

    }

    #act-un img {
        height: 11rem;
    }

    #act-deux img {
        height: 11rem;
    }

    #act-trois img {
        height: 11rem;
    }

    #act-quatre img {
        height: 11rem;
    }

    #act-cinq img {
        height: 11rem;
    }

    #act-six img {
        height: 11rem;
    }

    /*------------------------------------------------------*/

    #footer {
        margin-top: -1rem;
    }

    #footer-info {
        display: flex;
        flex-direction: column;
    }
}